.project-summary {
  margin-bottom: 1rem;
}

.project-detail {
    padding-top: 2rem;
}

.project-detail .tech-list {
  margin-top: 0;
  margin-bottom: 2rem;
}

.project-detail section {
    margin-bottom: 3rem;
}

.project-detail h1 {
    margin-bottom: 1rem;
}

.project-detail h2 {
    margin-bottom: 2rem;
}

.project-detail h3 {
    margin-bottom: 2rem;
}

.project-figure {
  margin: 4rem 0;
}

.project-image {
  width: 100%;
  max-width: 1000px;

  display: block;
  margin: 0 auto;

  border-radius: 1rem;
  border: 1px solid var(--border);
}

.project-figure figcaption {
  margin-top: 1rem;
  text-align: center;

  color: var(--muted-text);

  font-size: 0.9rem;
}

.back-link {
    padding-bottom: 2rem;
}

.project-links {
    display: flex;
    gap: 0.75rem;
}

.project-links a {
    color: var(--accent);
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.6s ease;
}

.project-links a:hover {
    border-color: var(--accent);
    transform: translateY(-2px);
    text-decoration: underline;
}

.project-meta {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    flex-wrap: wrap;

    margin-top: 1rem;
    margin-bottom: 4rem;
}

.project-meta span {
    color: var(--accent);
    font-size: 0.9rem;
    text-decoration: none;
}

.project-meta a {
    color: var(--accent);
    font-size: 0.9rem;
    text-decoration: none;

    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        color 0.2s ease;
}

.project-meta a:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

.project-demo {
    width: 752px;
    height: 794px;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background: black;
    overflow: hidden;
}