.hero-section {
  min-height: 110vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  padding-top: 6rem;
  padding-bottom: 10rem;
}

.about-section {
  padding: 8rem 0;
}

.quote-section {
  padding: 8rem 0;
}
